#### PYTHON FUNDAMENTALS | FROM BASICS TO ADVANCED ► CHAPTER 4 ► STATEMENTS
---
Now that we've covered main Python’s core built-in object types, this notebook will introduce **statements**: the things you write to tell Python what your programs should do. If, as suggested programs “do things with stuff,” then **statements** are the way you specify what sort of things a program does. 

Less informally, Python is a procedural, statement-based language; by combining statements, you specify a procedure that Python performs to satisfy a program’s goals. To do so you need control flows tools.

### I. Assignments
As already seen, assignments create object references.

In [12]:
# Basic form
spam = 'Spam'
spam

'Spam'

#### I.1 Tuple assignment

In [24]:
# Remember that to create a tuple:
my_tuple = ('name', 'surname')
my_tuple

('name', 'surname')

In [15]:
# parenthesis are optional
my_tuple = 'name', 'surname'

In [16]:
type(my_tuple)

tuple

In [ ]:
# So you can use that syntax to assign items of a tuple to variables

In [21]:
# Tuple assignment - positional
name, surname, phone_number = 'John', 'Cheng', '56.46.67'

In [27]:
print(name, surname, phone_number)

John Cheng 56.46.67

#### I.2 Sequence assignment

In [25]:
# List assignment - positional
[name, surname] = ['John', 'Cheng']

In [28]:
print(name, surname)

John Cheng

In [29]:
# Sequence assignment
a, b, c, d = 'spam'

In [30]:
print(a)

s

In [31]:
print(b)

p

In [32]:
# Extended sequence unpacking
a, *b = 'spam'

In [33]:
print(a)

s

In [34]:
print(b)

['p', 'a', 'm']

#### I.3 Multiple-target assignment

In [35]:
spam = ham = 'lunch'

In [38]:
print(spam)

lunch

In [37]:
print(ham)

lunch

#### I.4 Augmented assignment

In [43]:
spams = 23
# Equivalent to spams = spams + 42
spams += 42
print(spams)

65

### II. Selecting actions to perform: `if else`
In simple terms, the Python if statement selects actions to perform. Along with its expression counterpart, it’s the primary selection tool in Python and represents much of the logic a Python program possesses. This our first compound satement. For further information: https://docs.python.org/3.4/reference/compound_stmts.html

#### II.1 Basic

In [45]:
value = 34
if value > 30:
    print("Value higher than 30")
else:
    print("Value higher lower 30")

Value higher than 30

#### II.2 Multi-branching

In [46]:
value = 34
if value < 30:
    print("Value lower than 30")
elif value > 30 and value < 50:
    print("Value between 30 and 50")
else:
    print("Value higher than 50")

Value between 30 and 50

#### II.3 `if/else` ternary operator

In [ ]:
# There is a more succinct way to write such statement
value = 34
if value > 30:
    level = 'higher'
else:
    level = 'lower'

In [48]:
# Using the ternary operator the same statement looks very natural
'higher' if value > 30 else 'lower'

'higher'

### III. Looping: `while` and `for` loops
All programming languages have their looping structure. We will show below what Python offers and some specificities/idiomatic way to iterate over sequence-like objects.

#### III.1 `While` loop general format

In [49]:
a = 0; b = 10 # note here how we use a 'one liner' to assign two variables separated by a semi-column
while a < b:
    print(a, end=' ')
    a +=1

0 1 2 3 4 5 6 7 8 9

#### III.2 `for` loop general format

##### OVER LISTS

In [51]:
for x in ['spam', 'eggs', 'ham']:
    print(x, end=' ')

spam eggs ham

##### OVER LIST OF TUPLES

In [57]:
# Loop over a list of tuples
phone_book = [('John Smith', '521-8976'), ('Lisa Smith', '521-1234'), ('Sandra Dee','521-9655')]

for (a, b) in phone_book:
    print('{}\'s phone number: {}'.format(a, b))

John Smith's phone number: 521-8976
Lisa Smith's phone number: 521-1234
Sandra Dee's phone number: 521-9655

##### OVER DICTIONARIES

In [84]:
# Loop over keys
my_dict = {'John Smith':'521-8976', 'Lisa Smith': '521-1234', 'Sandra Dee': '521-9655'}

for key in my_dict:
    print(key)

Lisa Smith
John Smith
Sandra Dee

In [88]:
# or more explicitly
for key in my_dict.keys():
    print(key)

Lisa Smith
John Smith
Sandra Dee

In [89]:
# or over values
for value in my_dict.values():
    print(value)

521-1234
521-8976
521-9655

In [90]:
# or over items
for item in my_dict.items():
    print(item)

('Lisa Smith', '521-1234')
('John Smith', '521-8976')
('Sandra Dee', '521-9655')

#### III.3 Resist counting things in Python

In [91]:
# If you come from 'C' language you might be tempted to do as follows:
my_list = [1, 2, 3, 4]

i = 0
while i < len(my_list):
    print(my_list[i], end=' ')
    i += 1

1 2 3 4

This is definitely not **Pythonic**. The iteration protocol automates much of the work.

In [92]:
for i in my_list: print(i, end = ' ')

1 2 3 4

#### III.4 The range built-in function
The built-in `range` function produces a series of successively higher integers, which can be used as indexes in a `for` loop.

In [98]:
for i in range(15):
    print('*'*i)

*
**
***
****
*****
******
*******
********
*********
**********
***********
************
*************
**************

In [100]:
# Actually the 'range' function produces an iterable 'range' data type
type(range(15))

range

In [101]:
# To convert it to a list
list(range(15))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14]

#### III.4 Looping over // items

In [103]:
# Let's say we want to iterate over these 2 lists in //
names = ['John', 'Chirin', 'Sanjoy', 'Colince']
ages = ['23', '18', '56', '33']

In [106]:
# You can create a zip object
zip(names, ages)

In [107]:
# and then loop over it
for (a, b) in zip(names, ages):
    print('{} is {} years old'.format(a, b))

John is 23 years old
Chirin is 18 years old
Sanjoy is 56 years old
Colince is 33 years old

In [108]:
# For your information to convert a zip object to a list of tuple
list(zip(names, ages))

[('John', '23'), ('Chirin', '18'), ('Sanjoy', '56'), ('Colince', '33')]

In [110]:
# or even create a dict from 2 // lists
dict(zip(names, ages))

{'Chirin': '18', 'Colince': '33', 'John': '23', 'Sanjoy': '56'}

#### III.5 When you need both the index and value

In [111]:
names = ['John', 'Chirin', 'Sanjoy', 'Colince']

In [112]:
for i, value in enumerate(names):
    print(i, value)

0 John
1 Chirin
2 Sanjoy
3 Colince

#### III.6 When list comprehensions is more appropiate than `for` loops
List comprehension is a **Pythonic** way to produce/update lists.

In [113]:
# For instance, you might be tempted to update a given list as follows:
my_list = [1, 2, 3, 4]

# Get a new list with each element doubled
for i in range(len(my_list)):
    my_list[i] += 10
    
print(my_list)

[11, 12, 13, 14]

In [115]:
# Instead you can use a more concise way:
[i + 10 for i in my_list]

[21, 22, 23, 24]

And you can increase the logic by nesting `if` tests and other `for` loops.

In [123]:
# Get all odd number from 0 to 20 and add 10 to them
[i + 10  for i in range(20) if i%2]

[11, 13, 15, 17, 19, 21, 23, 25, 27, 29]